* text=auto
*.cpp text eol=crlf
*.txt text eol=crlf
*.md text eol=crlf
*.ini text eol=crlf

# Preserve whitespace in the unmodified upstream font license notice.
third_party/pretendard/LICENSE.txt -whitespace
